/* MAIN */

body { 
  margin: 0px;
  background-color: #222222;
}

#upper-control-panel { 
  width:100%;  
  background-color:#333355; 
  margin:0px; 
  padding:0px; 
  overflow:hide;
  text-align: center;
}

/* MAIN BUTTONS */

.game-control-buttons{
  background-color: #99aa99;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  height:25px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.game-control-buttons:hover{
  background-color: #00cc00; /* Green */
  color: white;
}

/* MODAL WINDOW */

#yes-no-modal-window  {
  display: none;
  position: absolute;
  left:50%;
  top:20%;
  width:auto;
  height:auto;
  margin-left:-100px;
  margin-top:0px;
  border:1px solid white;
  border-radius: 6px;
  background: #001122;
  z-index:11;
  color:white;
  font-size: 24px;
  text-align: center;
}

#overlay {
  display: none;
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
  margin:0px;
  background: black;
  opacity: 0.5;
  z-index:10;
}












/* BATTLE BLOCK */

/* main blocks */
#batlle-wrapper{
  display:none;
  position:relative;
  width:1300px;
  height:600px;
  background-color: #444444;
  padding:0px;
  margin:10px;
  margin-left:auto;
  margin-right: auto;
  overflow:hidden;
}

#upper-block {
  display:block;
  position:relative;
  width:1268px;
  height:94px;
  background-color: #999999;
  padding:10px;
  margin:5px;
  overflow:hidden;
}

#left-bottom-block {
  display:block; 
  position:relative;
  float:left;
  width:1169px; 
  height:470px; 
  margin:5px; 
  margin-top: 0px;
  overflow:hide; 
  background: #999999;
}

#right-bottom-block { 
  display:block; 
  position:relative;
  float:left;
  width:115px; 
  height:470px; 
  margin:5px;
  margin-left: 0px;
  margin-top: 0px;
  overflow:auto; 
  background: #999999;
}

#right-character-main-block { 
  display:block;
  position:absolute;
  width:450px; 
  height:100px; 
  margin:5px; 
  overflow:hide; 
  top:0px;
  right:0px;
  background: #999999;
  border:1px solid black; 
}

#left-character-main-block { 
  display:block;
  position:absolute; 
  width:450px; 
  height:100px; 
  margin:5px; 
  overflow:hide; 
  top:0px;
  left:0px;
  background: #999999;
  border:1px solid black;  
}

#helper-block {
  display:block;
  position:absolute; 
  width:200px; 
  height:55px; 
  margin:5px; 
  overflow:hide; 
  top:106px;
  left:0px;
  background: #999999;
  border:1px solid black;  
}

#enemy-block {
  display:block;
  position:absolute; 
  width:200px; 
  height:55px; 
  margin:5px; 
  overflow:hide; 
  top:0px;
  left:0px;
  background: #999999;
  border:1px solid black;  
}

#inventory-block {
  display:block;
  position:absolute;
  float: left;
  width:200px; 
  height:420px; 
  margin:5px; 
  overflow:hide; 
  bottom:0px;
  left:0px;
  background: #999999;
  border:1px solid black; 
}

#journal-block {
  display:block; 
  position:absolute;
  width:850px; 
  height:376px; 
  margin: 5px; 
  margin-left:0px;
  overflow:hide; 
  top:106px;
  left:210px;
  background: #dddddd;
  border: 1px solid black; 
}

#orbs-block {
  display:block; 
  position:absolute;
  width:850px; 
  height:100px; 
  margin:5px;
  margin-top: 0px;
  margin-left:0px;
  overflow:hide; 
  bottom:0px;
  left:210px;
  background: #999999;
  border: 1px solid black; 
}

#enemy-list {
  display: block;
  position: absolute;
  list-style-type: none;
  width:228px;
  height:482px;
  margin:5px;
  padding:0px;
  right:0px;
  bottom:0px;
  background: #999999;
  border:1px solid black;
  overflow-y: show;
  overflow-x: hide;
}

#enemy-list li {
  display: block;
  position: relative;
  float:left;
  width:226px;
  height:60px;
  margin:0px;
}

#journal{
  display: block;
  position: absolute;
  overflow: auto;
  padding: 0px;
  margin: 5px;
  font-size:18px;
  color:black;
  background: white;
  width:838px;
  height:365px;
  top:0px;
  left:0px;
  border:1px solid black;
  list-style-type: circle;
}

#journal li{
  position: relative;
  top:0px;
  left:0px;
  margin:10px;
  margin-left: 25px;
}


/* BARS */

.bar {
  width:340px;
  height:26px;
  position: relative;
  background: #808080;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0px;
  margin:0px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  font-size:16px;
  font-family: Georgia, fantasy;
  font-weight:bolder;
}

.bar-li {
  width:137px;
  height:20px;
  position: relative;
  top:10px;
  background: #808080;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0px;
  margin:0px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  font-size:16px;
  font-family: Georgia, fantasy;
  font-weight:bolder;
  
}

.bar-exp {
  width:340px;
  height:12px;
  position: relative;
  background: #808080;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0px;
  margin:0px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  font-size:10px;
  font-family: Georgia, fantasy;
}

.bar-exp-helper {
  width:137px;
  height:12px;
  position: relative;
  top:10px;
  background: #808080;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0px;
  margin:0px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  font-size:10px;
  font-family: Georgia, fantasy;
}

span.violet {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding:0px;
  margin:0px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(35, 3, 88)), color-stop(1, rgb(158, 3, 255)));
  background-image: -webkit-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  background-image: -moz-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  text-align:right;
  overflow: visible;
  width:0%;
  color:white;
}

span.green {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding:0px;
  margin:0px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(44, 255, 44)));
  background-image: -webkit-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  background-image: -moz-linear-gradient( center bottom,rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  text-align:right;
  overflow: visible;
  width:0%;
  color:white;
}

span.red {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(194,43,83)), color-stop(1, rgb(255,44,44)));
  background-image: -webkit-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  background-image: -moz-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  padding: 0;
  margin:0;
  text-align:right;
  overflow: visible;
  width:0%;
  box-sizing: content-box;
  color:white;
}



/* DECOR CHARACTER BLOCK */
#avatar {
  display: block;
  float:left;
  position: relative;
  overflow: hide;
  width:85px;
  height:85px;
  background: #ffffff;
  border:2px solid blue;
  border-radius: 4px;
  margin:5px;
}

#avatar-small {
  display: block;
  float:left;
  position: relative;
  overflow: hide;
  width:40px;
  height:40px;
  background: #ffffff;
  border:2px solid blue;
  border-radius: 4px;
  margin:5px;
}


#stats-text{
  display: block;
  float:left;
  position: relative;
  overflow: hide;
  width:330px;
  height:20px;
  margin:5px;
  padding:0px;
  font-size: 14px;
}

.name {
  display: block;
  position: relative;
  overflow: hide;
  text-overflow: hide;
  width:300px;
  height:20px;
  margin:5px;
  padding: 0px;
  color:white;
  font-size:24px;
}

.level {
  display: block;
  position: relative;
  overflow: hide;
  text-overflow: hide;
  width:24px;
  height:20px;
  margin:2px;
  margin-top: -2px;
  padding:0px;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  text-shadow: 1px 1px black;

}

/* END OF BATTLE WRAPPER */













/* INVENTORY WRAPPER */

#inventory-wrapper {
  display:none;
  position:relative;
  width:1300px;
  height:600px;
  background-color: #444444;
  padding:0px;
  margin:10px;
  margin-left:auto;
  margin-right: auto;
  overflow:hidden;
}

/* END OF ENVENTORY WRAPPER */













/* SHOP WRAPPER */

#shop-wrapper {
  display:none;
  position:relative;
  width:1300px;
  height:600px;
  background-color: #444444;
  padding:0px;
  margin:10px;
  margin-left:auto;
  margin-right: auto;
  overflow:hidden;
}

/* END OF SHOP WRAPPER */





/* HERO CREATER */

/* MAIN */
#hero-creater{
  display:block;
  position:relative;
  width:1300px;
  height:600px;
  background-color: #444444;
  padding:0px;
  margin:10px;
  margin-left:auto;
  margin-right: auto;
  overflow:hidden;
}

#left-selct-block{
  display: block;
  position:absolute;
  width:400px;
  height:590px;
  margin:5px;
  padding:0px;
  background-color: #999999;
  left:0px;
  top:0px;
  overflow: hidden;
}

#right-visual-block {
  display:block;
  position:absolute;
  width:600px;
  height: 590px;
  margin:5px;
  padding:0px;
  background-color: #999999;
  right:0px;
  top:0px;
  overflow: hidden;
}


/* END OF HERO CREATER */






/* WELCOME */

#welcome{
  display:none;
  position:relative;
  width:1300px;
  height:600px;
  background-color: #444444;
  padding:0px;
  margin:10px;
  margin-left:auto;
  margin-right: auto;
  overflow:hidden;
}