body { 
  margin: 0; 
  background-color: #444444; 
}
.game-control-buttons {
  display:inline; 
  width:50px; 
  height:20px; 
  overflow:hide; 
}
.avatar { 
  display:block; 
  float:left; 
  border-radius:4px;	
  border:1px black solid;	
  height:134px; 
  width:100px; 
  margin:5px; 
}
.statstext { 
  display:block;	
  overflow:hidden; 
  float:left; 
  width:72%; 
  height:100%; 
  margin:5px; 
  font-size: 14px; 
}
.name {
  text-overflow: clip;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.bar {
  width:310px;
  height:12px;
  position: relative;
  background: #808080;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 2px;
  margin:0px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.bar > span.violet {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding:0px;
  margin:0px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(35, 3, 88)), color-stop(1, rgb(158, 3, 255)));
  background-image: -webkit-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  background-image: -moz-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(35, 3, 88) 37%, rgb(158, 3, 255) 69%);
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  text-align:right;
  overflow: visible;
  width:100%;
  font-family: Georgia, fantasy;
  font-weight:bolder;
  font-size:12px;
  color:white;
}
.bar > span.green {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding:0px;
  margin:0px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(44, 255, 44)));
  background-image: -webkit-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  background-image: -moz-linear-gradient( center bottom,rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(44, 255, 44) 69%);
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  text-align:right;
  overflow: visible;
  width:100%;
  font-family: Georgia, fantasy;
  font-weight:bolder;
  font-size:12px;
  color:white;
}
.bar > span.red {
  display: block;
  height: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(194,43,83)), color-stop(1, rgb(255,44,44)));
  background-image: -webkit-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  background-image: -moz-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  background-image: -ms-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  background-image: -o-linear-gradient( center bottom, rgb(194,43,83) 37%, rgb(255,44,44) 69%);
  box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  padding: 0;
  margin:0;
  text-align:right;
  overflow: visible;
  width:100%;
  font-family: Georgia, fantasy;
  font-weight:bolder;
  box-sizing: content-box;
  font-size:12px;
  color:white;
}
.game-control-buttons{
  background-color: #99aa99;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  height:25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.game-control-buttons:hover{
  background-color: #00cc00; /* Green */
  color: white;
}

#left-character-main-frame { 
  display:block; 
  width:450px; 
  height:150px; 
  margin:10px; 
  position:absolute; 
  overflow:hide; 
  top:0px;
  left:0px;
  background: #999999; 
}

#right-character-main-frame { 
  display:block; 
  width:450px; 
  height:150px; 
  margin:10px; 
  position:absolute; 
  overflow:hide; 
  top:0px;
  left:590px;
  background: #999999; 
}

#enemy-list { 
  position: absolute;
  display:block; 
  width:150px; 
  height:680px; 
  background: #999999; 
  border:1px blue solid; 
  margin:10px; 
  top:0px;
  right:0px;
  overflow:auto;
}
#upper-control-panel { 
  width:100%;  
  background-color:#333355; 
  margin:0px; 
  padding:0px; 
  overflow:hide;
}
#center-block{
  display:block; 
  width:1040px; 
  height:500px; 
  margin:10px; 
  position:absolute; 
  left:0px;
  top:180px;
  overflow:hide; 
  background: #999999; 
}

#fighting-log li{ 
  text-align:left; 
  font-size:16px; 
}

#left-center-block { 
  position: absolute;
  display:block;
  overflow:hidden; 
  width:450px; 
  height:450px; 
  border:1px black solid; 
  padding:10px; 
  margin:10px;
  border-radius:4px; 
  background: #bbbbbb; 
}

#right-center-block{
  display:block;
  position: absolute;
  overflow: hidden;
  width:450px;
  height:450px;
  border:1px black solid; 
  padding:10px; 
  margin:10px;
  right:0px;
  border-radius:4px; 
  background: #bbbbbb;
}

#wrapper{
  display:block;
  position:absolute;
  width:1200px;
  height:700px;
  border: 1px black solid;
  background-color: #aaaaaa;
  padding:10px;
  margin:10px;
  overflow:hidden;
}

.level{
  display:block;
  position: absolute;
  top:10px;
  left:10px;
  width:24px;
  height:24px;
  overflow: show;
  text-align: center;
  color:orange;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  user-select: none;
  cursor:default;
}

.phisic-attack{
  display:block;
  position: absolute;
  top:120px;
  left:10px;
  width:16px;
  height:16px;
  overflow: show;
  text-align: center;
  color:red;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  user-select: none;
  cursor:default;
}

.defense{
  display:block;
  position: absolute;
  top:120px;
  left:30px;
  width:16px;
  height:16px;
  overflow: show;
  text-align: center;
  color:green;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  user-select: none;
  cursor:default;
}

.magic-attack{
  display:block;
  position: absolute;
  top:120px;
  left:50px;
  width:16px;
  height:16px;
  overflow: show;
  text-align: center;
  color:blue;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
  user-select: none;
  cursor:default;
}

#fighting-log{
  display:block;
  position:absolute;
  width:86%;
  height:86%;
  border:1px black solid;
  background: white;
  border-radius: 4px;
  overflow: auto;
}
